
.button-custom{
    display: flex;
    outline: 0;
    border: 0;
    background-color: var(--mainColor);;
    color: #FFF;
    padding: 0.3rem 1.2rem;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
    transition: 300ms linear;
}

.button-custom:hover{
    background-color: #ef9559;
}