:root{
    --mainColor:#c89979
}

.wrapper{
    min-height: 50vh;
    margin-top: 2rem;
    background-color: red;
}

.product-detail-wrapper,.product-detail-wrapper{
    width: 80%;
    margin: 2rem auto;
    min-height: 60vh;
}


.home .list-products,.wrapper-content{
    width: 80%;
    margin: 3rem auto;
    min-height: 40vh;
}

.ant-carousel .slick-dots-bottom{
    bottom: -1rem;
}

.ant-carousel .slick-dots li button{
    background: #555;
}
.ant-carousel .slick-dots li.slick-active button{
    background: #222;
}

.ant-rate{
    color: #fe8c23;
}

.ant-pagination-item:hover{
    border-color: var(--mainColor);
}

.ant-pagination-item-active a{
    color: var(--mainColor);
}

.ant-pagination-item-active{
    border-color: var(--mainColor);
}
.ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link{
    border-color: var(--mainColor);
    color: var(--mainColor);
}


.ant-tabs{
    border: 1px solid #eaeaea;
    padding: 10px 2rem;
}
.ant-tabs-tab{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: var(--mainColor);
}

.ant-tabs-tab:hover{
    color: var(--mainColor);
}

.ant-tabs-ink-bar {
    background: var(--mainColor);
}

.ant-tabs-content{
    margin-top: 1rem;
}

/*-----------CUSTOM COLOR BUTTON-----------------*/ 
.btn-success-custom{
    background: #2ECC40!important;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}
.btn-warning-custom{
    background: #FFDC00!important;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}
.btn-danger-custom{
    background: #FF4136!important;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-info-custom{
    background: #0074D9!important;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}

/*------ADMIN PAGE-------------*/
.admin-page .main-wrapper{
    padding: 1rem 1.75rem;
    background: #f0f2f5;
    min-height: 100vh;
    color: #394b6a;
}

.admin-page .main-wrapper .box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    background: #FFF;
}

.admin-page .main-wrapper .box .ant-table-wrapper{
    display: block; 
    overflow-y: auto;
}
/*--------------------*/
.table-detail{
    overflow: hidden;
    min-height: 20vh;
    /* box-shadow: #394b6a 0px 1px 4px; */
    border: 1px solid #c2c4c7;
    /* border-top: none; */
    padding: 8px;
    margin-bottom: 1rem;
}
.table-detail th{
    font-weight: 500;
    color: #394b6a!important;
    font-size: 12px;
}
.table-detail th, .table-detail td{
    text-align: center!important;
}

.ant-table-expanded-row > td{
    padding: 0 8px!important;
}
/*--------------------*/

.admin-page .main-wrapper .box .ant-table-thead > tr > th{
    white-space: nowrap;
}

.admin-page .admin-custom-btn{
    color: #FFF;
    background: #394B6A;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
}


