.group-info-and-feedback{
    margin-top: 2rem;


    .group-info{
        padding: 0 2rem;
        margin-bottom: 2rem;
        .group-info-item{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            border-bottom: 1px solid #eaeaea;

            .info-name{
                text-transform: uppercase;
                font-size: 13px;
            }
            .info-value{
                font-size: 12px;

            }
        }

    }
    .ant-tabs-content{
        margin-top: 10px;
        font-size: 13px;
        
        .ant-alert-message{
            font-size: 13px;

        }
    }

    .feedback-wrapper{
        &>p{
            color: #555;
        }

        .form-feedback{
            width: 100%;
            .label{
                color: #222;
                font-weight: 500;
            }

            .comments{
                margin: 1rem 0;
            }
        }


        .total-feedback-wrapper{
            margin-left: 3rem;
            color: #333;

            .ant-rate{
                color: #fe8c23;
            }

            .total-feedback{
                margin-bottom: 1rem;
                margin-left:2rem;

                .total-score{
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 15px;
                }
            }

            .feedback-item-vote{
                display: flex;
                align-items: center;
                font-size: 12px;

                .num-star{
                    margin-right: 5px;
                }

                .range-vote{
                    display: inline-block;
                    width: 200px;
                    margin: 0 10px;
                    background-color: #ccc;
                    height: 4px;
                    position: relative;
                }


                .percent{
                    content: ' ';
                    position: absolute;
                    height: 4px;
                    top: 0;
                    left: 0;
                    width: 10%;
                    background-color: #fe8c23;
                }

                .percent-vote{
                    color: #2f80ed;
                    font-weight: bold;
                }
            }
        }

    }

    .feedback-list-wrapper{
        margin-top: 2rem;
    }

    .category-name{
        font-weight: bold;
        padding-left: 1rem;
        border-left: 1px solid #eaeaea;
        text-transform: uppercase;
        font-size: 12px;
        color: #333;
    }

    .list-info{
        padding-left: 1rem;
        border-left: 1px solid #eaeaea;
        li{
            padding: 8px 0;
            border-bottom: 1px solid #eaeaea;
            color: #555;
        }
    }


}

 // detail page
 @media only screen and (max-width: 420px) {
    .product-detail-wrapper{
        width: 100%;
        padding: 0 10px;
        .group-info-and-feedback {
            margin-top: 5px;
    
            .group-info {
                padding: 5px;
                 .group-info-item .info-name{
                    font-size: 10px;
                 }
            }
    
            .list-info{
                border: 0;
            }
            .category-name{
                border: 0;
                font-size: 10px;
            }
        }
        
        .ant-tabs{
            padding: 5px;
            font-size: 10px;
        }
    
        .ant-tabs-content-holder{
            margin-top: 0!important;
            padding: 0!important;
        }
        .ant-tabs-nav{
            margin-bottom: 6px;
        }
        .ant-tabs-content{
            margin-top: 0;
        }
    }
   

}