.feedback{
    .replyTo{
        color: rgb(67, 67, 149);
    }

    .ant-comment-inner {
        padding-bottom: 0;
    }
    .ant-comment-actions{
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .ant-collapse-header-text{
        // color: #3f51b5;
        font-size: 13px;
    }

    .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content{
        background-color: #FFF;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header{
        align-items: center;
    }

    .ant-comment-content-author > a, .ant-comment-content-author > span{
        line-height: 5px;
    }
}