.select-field{
    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
        color: #333;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        transition: color 0.3s, border 0.3s, background 0.3s, opacity 0.3s;
        border: 1px solid #ddd;
    }

    .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: var(--mainColor);
    }
    
    .ant-select:not(.ant-select-disabled):focus .ant-select-selector {
        border-color: var(--mainColor);
    }

    .ant-form-item-label label {
        font-size: 14px;
        font-weight: 500;
    }
}