.input-field{

    .ant-input{
        color: #333;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        transition: color .3s, border .3s, background .3s, opacity .3s;
        border: 1px solid #ddd;
    }

    .ant-input:not([disabled]):hover,.ant-input:focus{
        border-color: var(--mainColor);
    }

    .ant-input-number{
        color: #333;
        box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
        transition: color .3s, border .3s, background .3s, opacity .3s;
        border: 1px solid #ddd;
        width: 100%;
    }

    .ant-input-number:not([disabled]):hover,.ant-input-number:focus{
        border-color: var(--mainColor);
    }

    .ant-form-item-label label{
        font-size: 14px;
        font-weight: 500;
    }

    textarea{
        resize: none;
    }
   
}