.voucher-give{
    .ant-select-selector{
        height: 40px;
        padding-bottom: 100px;
    }

    .ant-select-selection-placeholder{
        top: 15px;
    }

    .ant-select-selection-item{
        height: 30px;
        font-size: 13px;
    }
}