.auth-wrapper{

   

}

.group-login-social-media{
    margin-top: 1rem;
    // padding-top: 1rem;
    // border-top: 4px solid #eaeaea;
    
    p{
        text-transform: uppercase;
        text-align: center;
    }
}

.btn-social-media{
    font-size: 13px!important;
    height: 40px!important;
    display: flex!important;
    justify-content: center!important;
    margin-bottom: 10px!important;
}

.ant-drawer-body{
    padding-left: 2rem;
    padding-right: 2rem;

}

.auth-drawer{
    .forget-pass-btn{
        font-size: 13px;
    }

    .ant-drawer-title{
        font-size: 13.5px;
        text-transform: 'uppercase';
    }
}