.profile{

    .avatar-wrapper{
        text-align: center;

        .avatar{
            position: relative;
            display: inline-block;
            
            .show-avatar{
                width: 100px;
                height: 100px;
                
                img{
                    box-shadow: 1px 1px 15px -8px var(--mainColor);
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            } 
    
            .icon-camera{
                cursor: pointer;
                position: absolute;
                right: 0;
                top: -10px;
            }
        }
    }

    .ant-tabs{
        padding: 10px 0rem;
    }
}


@media only screen and (max-width: 698px){

    .ant-tabs {
        display: block;
    }

    .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane, .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
        padding-right: 24px;
    }

    .ant-tabs-content-holder{
        margin-top: 2rem;
        padding-top: 2rem;
    }

    .statistical{
        margin-bottom: 1rem;
    }
}

