.speech-recognition{
}


    .content-speech-recognition-modal{
        text-align: center;

        .content-listening{
            height: 250px;
            text-align: left;
        }

        .active{

            &:before,&:after {
                content: '';
                position: absolute;
                background-color: #8a82fb;
                // border: 1px solid #8a82fb;
                left: 0;
                top: 0;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index:2;
                opacity: 0.7;
            }
            
            &:before {
                animation: animate 1.5s ease-out infinite;
                // border: 1px solid red;
            }
            
            &:after {
                animation: animate 1.5s ease-out infinite;
            }
      
            @keyframes animate {
                    
            100% {
                    transform: scale(2);
                    opacity: 0;
                }
            }
        }

        .voice-btn{
            background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
            // box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
            position: relative;
        }
        .try-again{
            margin-top: 10px;
            font-size: 12px;
        }
    }

