.header-admin{
    height: 35px;
    background-color: #2C3338;
    position: sticky;
    top: 0;
    z-index: 5;
    line-height: 35px;
    // padding: 1rem 24px;


    .left-side{
        text-align: center;

        .menu-btn{
            color: #FFF;
            position: absolute;
            left: 10px;
            top: -8px;
            font-size: 18px;
            display: none;
        }
    }

    .right-side {
        color: #FFF;
        text-align: right;
        margin-right: 2rem;
        a{
            text-transform: uppercase;
            color: #FFF;
            font-size: 10px;
            font-weight: bold;
        }

        .position{
            margin:0 5px;
            font-size: 10px;
            color: #2ECC40;
        }

        .icon-logout{
            cursor: pointer;
            margin-left: 10px;
            transition: 200ms linear;
        }

        .icon-logout:hover{
            color: var(--mainColor);
        }
    }
}