.sidebar{
    background-color: #2C3338;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;

    .logo{
        text-align: center;

        img{
            width: 60px;
            height: 35px;
            object-fit: contain;
        }

        .menu-btn{
            color: #FFF;
            position: absolute;
            left: 10px;
            top: 8px;
            font-size: 18px;
            display: none;
        }
    }
    
    a{
        color: #67645c;
    }

    a:hover{
        color: #FFF!important;
    }

    .btn-logout{
        height: 40px;
        line-height: 40px;
        padding-left: 24px;
        color: rgba(255, 255, 255, 0.65);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        transition: 200ms linear;
    }

    .btn-logout:hover{
        color: #fff;
        background-color: transparent;
    }

    .ant-menu-dark .ant-menu-item:hover a, 
    .ant-menu-dark .ant-menu-item-active a, 
    .ant-menu-dark .ant-menu-submenu-active a, 
    .ant-menu-dark .ant-menu-submenu-open a, 
    .ant-menu-dark .ant-menu-submenu-selected a, 
    .ant-menu-dark .ant-menu-submenu-title:hover a{
        color: #FFF;
    }

    .ant-menu-sub li{
        padding-left: 24px!important;
    }

    .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
        background: #2C3338;
    }

    .ant-menu-title-content{
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
    }
    
    .ant-menu-sub .ant-menu-title-content{
        font-size: 10px;
        font-weight: 500;
    }
}
.active-sidebar{
        width: 300px !important;
        opacity: 1 !important;
        visibility: visible !important;
        
}