.sidebar{
    // margin-top: 20px;
    background-color: #f0f2ff;
    height: 100vh;
    // position: sticky;
    // top: 0;
    overflow-y: auto;
    // font-size: 12px;
    // width: auto;

    .logo-second{
        display: none;
    }

    .logo{
        text-align: center;
        background-color: #2C3338;
        
        img{
            width: 50px;
            height: 35px;
            object-fit: contain;
        }

        .menu-btn{
            color: #FFF;
            position: absolute;
            left: 10px;
            top: 8px;
            font-size: 18px;
            display: none;
        }

    }
    
    a{
        color: #67645c;
    }

    a:hover{
        color: #FFF!important;
    }

    .btn-logout{
        height: 40px;
        line-height: 40px;
        padding-left: 24px;
        color: rgba(255, 255, 255, 0.65);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        transition: 200ms linear;
    }

    .btn-logout:hover{
        color: #fff;
        background-color: transparent;
    }

    .ant-menu.ant-menu-inline-collapsed{
        width: 60px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .ant-menu-dark .ant-menu-item:hover a, 
    .ant-menu-dark .ant-menu-item-active a, 
    .ant-menu-dark .ant-menu-submenu-active a, 
    .ant-menu-dark .ant-menu-submenu-open a, 
    .ant-menu-dark .ant-menu-submenu-selected a, 
    .ant-menu-dark .ant-menu-submenu-title:hover a{
        color: #FFF;
    }

    .ant-menu-sub li{
        padding-left: 24px!important;
    }

    .ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub{
        background: #2C3338;
    }

    .ant-menu-title-content{
        // text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
    
    .ant-menu-sub .ant-menu-title-content{
        font-size: 10px;
        // font-weight: 500;
    }

    .ant-menu-item,.ant-menu-submenu{
       margin-bottom: 5px;
    }

    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .ant-menu-item-icon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon{
        line-height: 30px;
        height: 30px;
    }
    
    .ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
        line-height: 30px;
        height: 30px;
        margin-top: 0;
    }
    .ant-menu:not(.ant-menu-sub){
        // margin-top: 20px;
        padding: 10px 0;
        min-height: 90vh;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

}
.active-sidebar{
        width: 300px !important;
        opacity: 1 !important;
        visibility: visible !important;
        
}