.receipt-edit{
    
    .table-product-list{
        .ant-form-item{
            margin-bottom: 0;
        }
    }

    .total-price{
        span{
            font-size: 20px;
            font-weight: 500;
        }
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    .action-group{
        flex-wrap: wrap-reverse;
    }

}